body {
    margin: auto;
    width: 960px;
    background: #393939;
    
}

#title {
    text-align: center;
    background: black !important;
    color: white !important;
    margin-bottom: 10px;  
    margin-top:10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 60px;
    width: 100% !important;
}

#accountContainer {
    background: #f7f7f7;
    margin: auto;
    border-radius: 0.5%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    float: left;
    width: 475px;
    height: 500px;
}

#tradeContainer {
    background: #f7f7f7;
    margin: auto;
    border-radius: 0.5%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 475px;
    height: 500px;
    float: right;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    
}

.titleTab {
    height: 50px;
    background-color: black;
    padding: 0px;
    color: white;
    text-align: center;
}

#tradeHistory {
    clear: both;
    width: 960px;
    height: 160px;
    background-color: white;
}